body {
    background-color: #000;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 400;
}

.navbar {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.carousel_viajes img {
    max-height: 750px;
}

.fondo_iconos {
    background-color: #17a3b8;
}

.titulos_secciones {
    font-size: 40px;
    font-weight: 700;
}

.card-title {
    font-weight: 700;
}

.card img {
    width: 263px;
    height: 169px;
}
.card {
    width: 263px;
    background-color: #17a3b8;
}
.barra_espaciadora {
    border: 1px solid #17a3b8
}

.footer_viajes{
    background-color: #17a3b8;
}

.titulo_footer {
    font-size: 35px;
    font-weight: 700;
}

a:visited {
    color: #fff;
}

a:link {
    text-decoration: none;
    color: #fff;
}

/* Ajustes Mobile */
@media (max-width: 500px) {
    .titulo_footer {
        font-size: 20px;
    }
    .fab {
        font-size: 25px;
    }
}